<a href="http://localhost:3000/interpolations"><%= image_tag("logo_int.gif", :alt => "Interpolator") %></a>
<h1 class="centerer">New Comment</h1>

<%= render 'form' %>


<p id="backlink"><%= link_to 'Back', interpolation_comments_path(@interpolation) %></p>
