<%= image_tag("logo_int.gif", :alt => "Interpolator") %>
<h1 class="centerer">Editing interpolation</h1>

<%= render 'form' %>

<p id="backlink"><%= link_to 'Show', @interpolation %> |
<%= link_to 'Back', interpolations_path %>
</p>