<%= link_to image_tag("logo_int.gif", :alt => "Interpolator"), :interpolations %>
<h1 class="centerer">Editing user_session</h1>

<%= render 'form' %>

<p id="backlink"><%= link_to 'Show', @user_session %> |
<%= link_to 'Back', user_sessions_path %> </p>
